{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/story/templates/story/edit.html

</pre>
{% endcomment%}
{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
		<h2>{{ test.acceptance }} edit</h2>
		{% if error_message  %}
		<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		<form action="{% url 'tests:post' test.id %}" method="post" id="storeform">
		{% csrf_token %}
			Acceptance: <br />
			<textarea row="4" col="500" name="acceptance" form="storeform" maxlength="600">{{ test.acceptance }}</textarea><br />
			Author: <br />
			<input type="text" name="author" value="{{ test.author }}"><br />
			Accepted:
			<input type="checkbox" name="accepted" {% if test.accepted %} checked {% endif %}><br />
			<input type="hidden" name="cardid" value="{{ test.card_id }}">
			<input type="submit" value="Save">
		</form>
	</div>
</div>
