{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/story/templates/story/story.html

</pre>
{% endcomment%}
{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
      <h2>Story Test</h2>
            <form action="{% url 'tests:edit' test.id %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="cardid" value="{{ test.card_id }}">
              <input type="submit" value="edit test">
            </form>
            <form action="{% url 'tests:edit' 9999999 %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="cardid" value="{{ test.card_id }}">
              <input type="submit" value="new test">
            </form>
            <form action="{% url 'tests:delete' test.id %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="cardid" value="{{ test.card_id }}">
              <input type="submit" value="delete test">
            </form>
      <p>Card: {{ test.card }}</p>
      <p>Acceptance: {{ test.acceptance }}</p>
      <p>Created: {{ test.pub_date }}</p>
      <p>Author: {{ test.author }}</p>
      <p>Completed: {{ test.accepted }}</p>
              <form action="{% url 'tests:comment' test.id %}" method="post" id="commform">
	  	{% csrf_token %}
		<h3>Post comment</h3>
		Author: <input type="text" name="author" value="author"> <br />
		Comment:<br />
		<textarea rows="2" col="500" name="comment" form="commform" maxlength="600"></textarea><br />
		<input type="submit" value="comment">
	 		<table>
		<col width="200">
		<col width="500">
			<tr><th>User</th><th>Comment</th><th>Hours</th></tr>
			{% for comment in test.comment_set.all %}
			<tr>
				<td>{{ comment.author }} <br />
					{{ comment.pub_date }}</td>
				<td>{{ comment.comment }}</td>
			</tr>
			{% endfor %}
		</table>
		
	  </form>

	</div>
</div>
