{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/projects/templates/projects/edit.html

</pre>
{% endcomment%}

{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h2>{{ project.name }} edit</h2>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'projects:post' project.id %}" method="post" id="projectform">
        {% csrf_token %}
            Name: <input type="text" name="name" value="{{ project.name }}"><br />
            Author: <input type="text" name="author" value="{{ project.author }}"><br />
            Contact Name: <input type="text" name="cname" value="{{ project.contact_name }}"><br />
            Contact Email: <input type="text" name="cemail" value="{{ project.contact_email }}"><br />
            Complete: <input type="checkbox" name="complete" {% if project.complete %} checked {% endif %}><br />
            Description: <br />
            <textarea row="4" col="500" name="description" form="projectform">{{ project.description }}</textarea><br />
            <input type="submit" value="Save">
        </form>
    </div>
</div>