{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/projects/templates/projects/index.html

</pre>
{% endcomment%}

{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
<h2>Projects</h2>
<form action="{% url 'projects:edit' 9999999 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="New Project">
</form>
{% if project_list %}
	<ul>
	{% for project in project_list %}
		<li><a href="{% url 'projects:project' project.id %}">{{ project.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No projects are available.</p>
{% endif %}
</div></div>
