{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/projects/templates/projects/projects.html

</pre>
{% endcomment%}
{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h2>Project: {{ project.name }}</h2>
		<form action="{% url 'projects:edit' project.id %}" method="post">
		{% csrf_token %}
		    <input type="submit" value="edit project">
		</form>
		<form action="{% url 'projects:delete' project.id %}" method="post">
		{% csrf_token %}
		    <input type="submit" value="delete project">
		</form>
			<p>Decription: {{ project.description }}</p>
			<p>Published: {{ project.pub_date }}</p>
			<p>Author: {{ project.author }}</p>
			<p>Contact Name: {{ project.contact_name }}</p>
			<p>Contact Email: {{ project.contact_email }}</p>
			<p>Complete:
				{% if project.complete %}
					Yes
				{% else %}
					No
				{% endif %}
			</p>
			<form action="{% url 'story:edit' 9999999 %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="projectid" value="{{ project.id }}">
			<input type="submit" value="new card">
			</form>
		<ul>
			{% for card in project.card_set.all %}
				<li><a href="{% url 'story:story' card.id %}">
				{% if card.complete %}
				<del>
				{% endif %}
				{{ card.story }}
				{% if card.complete %}
				</del>
				{% endif %}
				</a></li>
			{% endfor %}
		</ul>
		<form action="{% url 'projects:comment' project.id %}" method="post" id="commform">
	  	{% csrf_token %}
		<h3>Post comment</h3>
		Author: <input type="text" name="author" value="author"> <br />
		Comment:<br />
		<textarea rows="2" col="500" name="comment" form="commform" maxlength="600"></textarea><br />
		<input type="submit" value="comment">
		<table>
		<col width="200">
		<col width="500">
		<tr><th>User</td><th>Comment</td></tr>
			{% for comment in project.pcomment_set.all %}
			<tr>
				<td>{{ comment.author }} said:<br />
					{{ comment.pub_date }}</td>
				<td>{{ comment.comment }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
