{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/story/templates/story/edit.html

</pre>
{% endcomment%}
{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
		<h2>{{ card.story }} edit</h2>
		{% if error_message  %}
		<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		<form action="{% url 'story:post' card.id %}" method="post" id="storeform">
		{% csrf_token %}
			Story: <br />
			<textarea row="4" col="500" name="story" form="storeform" maxlength="600">{{ card.story }}</textarea><br />
			Points: <br />
			<input type="number" name="points" value="{{ card.points }}"><br />
			Author: <br />
			<input type="text" name="author" value="{{ card.author }}"><br />
			Completed:
			<input type="checkbox" name="complete" {% if card.complete %} checked {% endif %}><br />
			<input type="hidden" name="projectid" value="{{ card.project_id }}">
			<input type="submit" value="Save">
		</form>
	</div>
</div>
