{% comment %}
<pre>Copyright 2014 Joel Compton

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

./expmt/story/templates/story/story.html

</pre>
{% endcomment%}
{% include "projects/header.html" %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
      <h2>User Story</h2>
            <form action="{% url 'story:edit' card.id %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="projectid" value="{{ card.project_id }}">
              <input type="submit" value="edit card">
            </form>
            <form action="{% url 'story:edit' 9999999 %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="projectid" value="{{ card.project_id }}">
              <input type="submit" value="new card">
            </form>
            <form action="{% url 'story:delete' card.id %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="projectid" value="{{ card.project_id }}">
              <input type="submit" value="delete card">
            </form>
      <p>Project: {{ card.project }}</p>
      <p>Story: {{ card.story }}</p>
      <p>Points: {{ card.points }}</p>
      <p>Created: {{ card.pub_date }}</p>
      <p>Author: {{ card.author }}</p>
      <p>Completed: {{ card.complete }}</p>
      <form action="{% url 'tests:edit' 9999999 %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="cardid" value="{{ card.id }}">
			<input type="submit" value="new test">
			</form>
      <ul>
			{% for test in card.test_set.all %}
				<li><a href="{% url 'tests:test' test.id %}">
				{% if test.accepted %}
				<del>
				{% endif %}
				{{ test.acceptance }}
				{% if test.accepted %}
				</del>
				{% endif %}
				</a></li>
			{% endfor %}
		</ul>
              <form action="{% url 'story:comment' card.id %}" method="post" id="commform">
	  	{% csrf_token %}
		<h3>Post comment</h3>
		Author: <input type="text" name="author" value="author"> <br />
		Hours: <input type="number" name="hours" value="0"><br />
		Comment:<br />
		<textarea rows="2" col="500" name="comment" form="commform" maxlength="600"></textarea><br />
		<input type="submit" value="comment">
	 		<table>
		<col width="200">
		<col width="500">
		<col width="100">
			<tr><th>User</th><th>Comment</th><th>Hours</th></tr>
			{% for comment in card.comment_set.all %}
			<tr>
				<td>{{ comment.author }} <br />
					{{ comment.pub_date }}</td>
				<td>{{ comment.comment }}</td>
				<td>{{ comment.hours }}</td>
			</tr>
			{% endfor %}
		</table>
		
	  </form>

	</div>
</div>
